<!DOCTYPE html>
<html data-ng-controller="MasterController as master" data-ng-cloak="">
<head>
    <title>{{master.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Styles/master.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="MainMenu" class="menu flyout" data-ng-show="master.IsMainMenuVisible">
            <div id="MainMenuHeader" class="header">
                <span id="HideMainMenuButton" title="Hide Main Menu" data-ng-click="master.HideMenu()"
                    class="menu hideit glyphicon glyphicon-arrow-left"></span>
                <h1>
                    Main Menu</h1>
            </div>
            <ul>
                <li data-ng-click="master.Action1()" data-ng-disabled="master.IsMenuItem1Disabled">MenuItem1</li>
                <li data-ng-click="master.Action2()" data-ng-disabled="master.IsMenuItem2Disabled">MenuItem2</li>
                <li data-ng-click="master.Action3()" data-ng-disabled="master.IsMenuItem3Disabled">MenuItem3</li>
            </ul>
        </div>
        <span id="ShowMainMenuButton" title="Show Main Menu" data-ng-click="master.ShowMenu()"
            data-ng-show="!master.IsMainMenuVisible" class="menu showit glyphicon glyphicon-align-justify">
        </span>
        <!--Only major navigation links should be in a nav container, not actions or footer links-->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul id="Tabs" class="nav nav-tabs">
                <li data-ng-repeat="tab in master.Tabs" id="{{tab.Id}}" data-ng-class="{'active':master.IsActiveTab(tab)}">
                    <a data-ng-click="master.ActivateTab(tab)" href="{{tab.Uri}}">{{tab.Label}}</a></li>
            </ul>
        </nav>
    </header>
    <main data-ng-view="">
    </main>
    <footer>
    </footer>
    <script src="Scripts/require.js" data-main="Scripts/main.js"></script>
</body>
</html>