<!DOCTYPE html>
<html data-ng-controller="MasterController as master" data-ng-cloak="">
<head>
    <title>{{master.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Styles/master.css" rel="stylesheet" />
    <script src="Scripts/modernizr-2.7.1.js" type="text/javascript"></script>
</head>
<body>
    <div id="ViewportContainer" class="container">
        <div id="OffCanvasRow" class="row row-offcanvas row-off-canvas-left">
            <!--col-xs-6 is equivalent to 50% of a row, purposely col-xs-* totals to more than 12-->
            <aside id="MainMenu" class="menu col-xs-6 col-sm-3 sidebar-offcanvas" data-ng-show="master.IsMainMenuVisible">
                <div id="MainMenuHeader" class="header">
                    <span id="HideMainMenuButton" title="Hide Main Menu" data-ng-click="master.HideMenu()"
                        class="menu hideit glyphicon glyphicon-arrow-left"></span>
                    <h1>
                        Main Menu</h1>
                </div>
                <ul>
                    <li>
                        <label>
                            My Menu Section</label></li>
                    <li data-ng-click="master.Action1()" data-ng-disabled="master.IsMenuItem1Disabled">MenuItem1</li>
                    <li data-ng-click="master.Action2()" data-ng-disabled="master.IsMenuItem2Disabled">MenuItem2</li>
                    <li data-ng-click="master.Action3()" data-ng-disabled="master.IsMenuItem3Disabled">MenuItem3</li>
                </ul>
            </aside>
            <div id="MainRow" class="col-xs-12 col-sm-9">
                <div id="headerContainer" class="container">
                    <header class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <ul id="Tabs" class="nav nav-tabs">
                            <li data-ng-repeat="tab in master.Tabs" id="{{tab.Id}}" data-ng-class="{'active':master.IsActiveTab(tab)}">
                                <a data-ng-click="master.ActivateTab(tab)" href="{{tab.Uri}}">{{tab.Label}}</a></li>
                        </ul>
                    </header>
                    <main data-ng-view="">
                    </main>
                    <footer>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <script src="Scripts/require.min.js" data-main="Scripts/main.js"></script>
</body>
</html>