<!DOCTYPE html>
<html data-ng-controller="MainController">
<head>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav id="menuContainer" data-ng-show="IsMenuVisible">
            <ul>
                <li><a data-ng-click="">{{MasterRecordMenuText}}</a></li>
                <li><a data-ng-click="">MenuItem2</a></li>
                <li><a data-ng-click="">MenuItem3</a></li>
                <li><a data-ng-click="">MenuItem4</a></li>
            </ul>
        </nav>
        <nav id="tabsContainer">
            <a href="#/tab1">Tab1</a> <a href="#/tab2?">Tab2</a>
        </nav>
    </header>
    <section id="MasterRecordHeader" data-ng-show="IsMasterRecordVisible">
        Master Record Header
    </section>
    <section id="PartialPage">
    </section>
    <footer>
        Footer
    </footer>
    <dialog style="display: none;">
    </dialog>
    <script src="scripts/jquery/jquery-1.10.2.min.js" />
    <script src="scripts/angular/angular.min.js" />
    <script src="scripts/angular/angular-route.min.js" />
    <script src="scripts/controllers/masterController.js" />
</body>
</html>